/* reset */
body {
    background-color: rgb(67, 108, 136);
    color: rgb(255, 255, 255);
}
.navbar > ul {
    list-style-type: none;
    margin: 0;
}
img {
    max-width: 50%;
    height: auto;
}
/* layout */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar > ul {
    display: flex;
    gap: 1rem;
}
.container {
    max-width: min(80ch, 100vw - 2rem);
    margin-inline: auto;
}
:root {
    --color-light: #f0f0f0;
    --color-dark: #274561  ;
    --color-primary: #256a76;
    --color-secondary:#4a0080;
}
.btn {
    text-align: center;
    text-decoration: none;
    margin: 0 0.25rem;
    padding: 0.375rem 0.75rem;
    color: var(--color-light);
    background-color: var(--color-dark);
    border: 1px solid transparent;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn:hover {
    background-color: var(--color-primary);
}
.btn-rounded {
    border-radius: 10%;
}